body {
  font-family: 'Arial', sans-serif;
  background-color: #e0f7fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.App {
  text-align: center;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

h1 {
  font-size: 2.5rem;
  color: #00796b;
  margin-bottom: 20px;
}

form {
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
}

input[type="text"] {
  padding: 12px;
  font-size: 18px;
  border: 2px solid #00796b;
  border-radius: 8px 0 0 8px;
  width: calc(100% - 100px);
  outline: none;
  transition: border-color 0.3s ease-in-out;
}

input[type="text"]:focus {
  border-color: #004d40;
}

button {
  padding: 12px 20px;
  font-size: 18px;
  border: none;
  border-radius: 0 8px 8px 0;
  background-color: #00796b;
  color: #ffffff;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #004d40;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b2dfdb;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease-in-out;
}

li:hover {
  background-color: #80cbc4;
}

span {
  flex-grow: 1;
  text-align: left;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}

span.completed {
  text-decoration: line-through;
  color: #757575;
}

button.delete {
  background-color: #d32f2f;
  border-radius: 5px;
  padding: 10px;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out;
}

button.delete:hover {
  background-color: #b71c1c;
}
